<h1>Razor Snacks</h1>


@*1. Dichiarare una variabile valorizzandola con il nostro nome.
Dichiarare un'altra variabile valorizzandola con il nostro cognome.
Stampare il nostro nome e cognome all'interno di un tag h2.*@


@{
    var nome = "Gianmarco";
    var cognome = "Ruffi";
}

<h2>1. @nome @cognome</h2>

@*2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
Stampare dentro uno span il risultato.*@

@{
    int i, sum = 0, n;
    n = 8;
    for (i = 1; i <= n; i++)
    {
        sum = sum + i;
    }

}
<span>2. La somma dei numeri che vanno da 1 a @n è: @sum</span>
<br />

@*3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina*@

@{
    string str = "Nel mezzo del cammin di nostra vita";
        char ch = 'a';

        int freq = 0;
        foreach (char c in str)
        {
            if (c == ch) {
                freq++;
            }
        }
        }
<span>3. La lettera "a" è presente il seguente numero di volte: @freq</span>
<br />


@*4. Creare una List<int>
    di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70*@

@{

List<int> randomNumbers = new List<int>();
        for(int j = 0; j<20; j++){
    Random rand = new Random();
        randomNumbers.Add(rand.Next(1,91));
        }
}
4. <span>Lista di numeri random compresi tra 20 e 70</span>
<ul>
    @foreach (int num in randomNumbers)
    {
        if (Enumerable.Range(20, 70).Contains(num))
        {
        <li>@num</li>
        }
    }
    </ul>


@*    5. Stampare in pagina la data e l'ora attuale (usando la classe DateTime) con il formato anno-mese-giorno ore:minuti:secondi*@

@{
    DateTime now = DateTime.Now;
}

5. <span><strong>Data attuale: @now.Year/@now.Month/@now.Day</strong> <br>
    <strong>Ora attuale: @now.Hour: @now.Minute: @now.Second</strong></span>
<br>

@*    6. Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina*@

@*    a. la data di 7 giorni fa
    b. che giorno della settimana è oggi (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
    c. che giorno della settimana sarà nello stesso giorno e mese di oggi ma tra un anno (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)*@

@{
    DateTime today = DateTime.Now;
    DateTime dt7 = today.AddDays(-7);
    DateTime dt1 = today.AddYears(1);

}

6. <span><strong>a. Data di 7 giorni fa: @dt7</strong> </span><br>
<span><strong>b. Oggi è: @today.DayOfWeek</strong> </span>
<br>
<span><strong>c. Tra un anno sarà: @dt1.DayOfWeek</strong> </span>
<br>


